.container {
    flex-direction: column;
    background-color: rgba(137, 178, 255, 0.51);
    width: 100%;
    height: 100%;
}

.list-container {
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    align-self: center;
    background-color: red;
    border-radius: 3px;
}

.menu-item {
    -unity-text-align: upper-center;
    font-size: 28px;
}

.menu-item:hover {
    background-color: white;
}
